body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: ;
}
.Freelancerkids
{
    color: black;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    padding: 0 20px;
    background: #ccc;
    text-align: center;
    box-sizing: border-box;
    float: left
    font-weight:700;
    text-decoration:none;
}
nav{  
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
} 
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;

}    
nav ul li a.active,
nav ul li a:hover
{
    background-color: #069370;
    color:#fff;
    transition: 0.5s;
}
@media (max-width: 1200px)
 {
     header{
         margin: 20px;
     }
 }
 @media (max-width: 768px)
 {
     .menu-toggle{
         display: block;
         width: 40px;
         height: 40px;
         margin: 10px;
         float: right;
         background: #ccc;
         cursor: pointer;
         text-align: center;
         font-size: 30px;
         color: #069370;
     }

    .menu-toggle:before
    { 
     content: '\f0c9';
     font-family: fontAwesome;
     line-height: 40px;
     display: block;
    }
    .menu-toggle.active:before{
    content: '\f00d';
    }
  
    nav{
    display: none;
    }
    nav.active{
    display: block;
    width: 100%;
    }
    nav.active ul{
    display: block;
    }
    nav.active ul li{
    margin: 0;
    }
 }


